div.container{
  max-width: 1000px;
  padding: 50px 200px;
  margin: auto;
}

div.cards{
  display: block;
  width: 300px;
  max-width: 100%;
  margin: auto;
  height: 300px;
  position: relative;
}

div.card{
  width: 100%;
  padding: 30px;
  background: #756de7;
  //box-shadow: 0 0 10px 2px #b8abed;
  color: #ffffff;
  border-radius: 10px;
  h3{
    font-size: 36px;
    font-weight: lighter;
    margin: 0;
  }
  p{
    font-size: 16px;
    font-weight: lighter;
    margin: 8px 0;
  }
}

div.card{
  position: absolute;
  left: 0;
  top: 0;
}
div.card.previous{
  transform: rotateX(60deg) scale(0.5) translateY(50px);
  opacity: 0;
}
div.card.current{
  transform: rotateX(0deg) scale(1) translateY(0px);
  opacity: 1;
}
div.card.animating{
  transition: all 0.5s ease;
}
div.card.previous.animating{
  transform: rotateX(0deg) scale(1) translateY(0px);
  opacity: 1;
}
div.card.current.animating{
  transform: rotateX(60deg) scale(0.5) translateY(50px);
  opacity: 0;
}


div.control{
  text-align: center;
}

button#btn-next-name{
  display: inline-block;
  background: #707070;
  padding: 10px 20px;
  color: #ffffff;
  border-radius: 5px;
}
button#btn-next-name:hover{
  cursor: pointer;
}
button#btn-next-name:active{
  background: #929292;
}
