/* You can add global styles to this file, and also import other style files */
body{
  font-family: "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "Hiragi    no Sans GB", "Source Han Sans CN Normal", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Z    en Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
  padding: 0;
  margin: 0;
}

textarea, input, button { outline: none; }
:focus { outline: none; }
